*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.site-card-border-less-wrapper {
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 5rem;
}

html body .ql-bubble .ql-editor {
  padding-left: 0;
  padding-right: 0;
}
